n8n-workflows/01-scheduled-fetch.json
{
  "name": "01-定时RSS数据源抓取",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"KNOWLEDGE_MGMT_URL\": \"http://knowledge-backend:5000\",\n  \"FIRECRAWL_API_URL\": \"http://firecrawl:3002\",\n  \"N8N_WEBHOOK_URL\": \"http://n8n:5678\"\n}",
        "options": {}
      },
      "id": "config-node",
      "name": "配置参数",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300],
      "notesInFlow": true,
      "notes": "只需配置服务地址，知识库ID通过API动态获取"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.KNOWLEDGE_MGMT_URL }}/api/rss",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_active",
              "value": "true"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "get-rss-list",
      "name": "获取RSS订阅列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('配置参数').item.json.KNOWLEDGE_MGMT_URL }}/api/datasources",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_active",
              "value": "true"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "get-datasource-list",
      "name": "获取数据源列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "jsCode": "// 处理 RSS 列表\nconst rssResponse = $input.first().json;\nconst config = $('配置参数').first().json;\nconst rssItems = rssResponse.data?.items || rssResponse.items || [];\n\nconst result = [];\nfor (const rss of rssItems) {\n  if (rss.is_active && rss.url) {\n    result.push({\n      json: {\n        id: rss.id,\n        name: rss.name,\n        url: rss.url,\n        category: rss.category,\n        tags: (rss.tags || []).map(t => t.name),\n        last_fetched: rss.last_fetched,\n        type: 'rss',\n        config: config\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "id": "process-rss-list",
      "name": "处理RSS列表",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "ignoreSSL": true
        }
      },
      "id": "rss-feed-read",
      "name": "读取RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [1130, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 收集 RSS Feed 中所有 URL 用于批量检查\nconst items = $input.all();\nconst rssInfo = $('处理RSS列表').first().json;\n\n// 收集所有 URL\nconst allItems = [];\nconst urls = [];\n\nfor (const item of items) {\n  const url = item.json.link;\n  if (url) {\n    urls.push(url);\n    allItems.push({\n      url: url,\n      title: item.json.title,\n      pubDate: item.json.pubDate,\n      description: item.json.contentSnippet || item.json.description\n    });\n  }\n}\n\nreturn {\n  json: {\n    urls: urls,\n    items: allItems,\n    rss_info: rssInfo\n  }\n};"
      },
      "id": "filter-rss-items",
      "name": "收集RSS条目",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('处理RSS列表').first().json.config.KNOWLEDGE_MGMT_URL }}/api/ragflow/check-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ urls: $json.urls }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "check-urls-exist",
      "name": "检查URL是否已存在",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 过滤出不存在于数据库中的文章\nconst checkResult = $input.first().json;\nconst collectedData = $('收集RSS条目').first().json;\nconst rssInfo = collectedData.rss_info;\nconst allItems = collectedData.items || [];\n\n// 获取已存在 URL 的映射\nconst existingUrls = checkResult.data?.results || {};\n\n// 过滤出不存在的文章\nconst result = [];\nfor (const item of allItems) {\n  const urlInfo = existingUrls[item.url];\n  // 只处理不存在于数据库中的文章\n  if (!urlInfo || !urlInfo.exists) {\n    result.push({\n      json: {\n        url: item.url,\n        title: item.title,\n        pubDate: item.pubDate ? new Date(item.pubDate).toISOString() : new Date().toISOString(),\n        description: item.description,\n        source: 'rss',\n        source_name: rssInfo.name,\n        source_id: rssInfo.id,\n        category: rssInfo.category,\n        tags: rssInfo.tags,\n        config: rssInfo.config\n      }\n    });\n  }\n}\n\n// 返回所有不存在的文章（不再限制数量）\nreturn result;"
      },
      "id": "filter-new-items",
      "name": "过滤未入库条目",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "batch-rss-items",
      "name": "分批处理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.N8N_WEBHOOK_URL }}/webhook/core-crawler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"source\": \"rss\",\n  \"source_name\": \"{{ $json.source_name }}\",\n  \"category\": \"{{ $json.category || '' }}\",\n  \"tags\": {{ JSON.stringify($json.tags || []) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "call-core-crawler-rss",
      "name": "调用核心爬取工作流",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-between-rss",
      "name": "等待间隔",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2450, 200],
      "webhookId": "wait-rss"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('处理RSS列表').first().json.config.KNOWLEDGE_MGMT_URL }}/api/rss/{{ $('处理RSS列表').first().json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"last_fetched\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "update-rss-last-fetched",
      "name": "更新RSS抓取时间",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 处理数据源列表\nconst dsResponse = $input.first().json;\nconst config = $('配置参数').first().json;\nconst dsItems = dsResponse.data?.items || dsResponse.items || [];\n\nconst result = [];\nfor (const ds of dsItems) {\n  if (ds.is_active && ds.url) {\n    result.push({\n      json: {\n        id: ds.id,\n        name: ds.name,\n        url: ds.url,\n        type: ds.type,\n        category: ds.category,\n        tags: (ds.tags || []).map(t => t.name),\n        source: 'datasource',\n        config: config\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "id": "process-datasource-list",
      "name": "处理数据源列表",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "batch-datasource",
      "name": "分批处理数据源",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.N8N_WEBHOOK_URL }}/webhook/core-crawler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"source\": \"datasource\",\n  \"source_name\": \"{{ $json.name }}\",\n  \"category\": \"{{ $json.category || '' }}\",\n  \"tags\": {{ JSON.stringify($json.tags || []) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "call-core-crawler-ds",
      "name": "爬取数据源",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-between-ds",
      "name": "数据源等待间隔",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1570, 400],
      "webhookId": "wait-ds"
    },
    {
      "parameters": {
        "jsCode": "// 汇总执行结果\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    status: 'completed',\n    message: '定时抓取任务执行完成',\n    timestamp: timestamp,\n    summary: {\n      rss_processed: true,\n      datasource_processed: true\n    }\n  }\n};"
      },
      "id": "execution-summary",
      "name": "执行汇总",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 600]
    },
    {
      "parameters": {
        "jsCode": "// RSS 读取失败处理\nconst rssInfo = $('处理RSS列表').first().json;\nconsole.log(`RSS 读取失败: ${rssInfo.name} - ${rssInfo.url}`);\n\nreturn {\n  json: {\n    error: 'rss_read_failed',\n    rss_name: rssInfo.name,\n    rss_url: rssInfo.url,\n    timestamp: new Date().toISOString(),\n    config: rssInfo.config\n  }\n};"
      },
      "id": "rss-read-error",
      "name": "RSS读取失败",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 80]
    }
  ],
  "connections": {
    "定时触发器": {
      "main": [
        [
          {
            "node": "配置参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "配置参数": {
      "main": [
        [
          {
            "node": "获取RSS订阅列表",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取数据源列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取RSS订阅列表": {
      "main": [
        [
          {
            "node": "处理RSS列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取数据源列表": {
      "main": [
        [
          {
            "node": "处理数据源列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理RSS列表": {
      "main": [
        [
          {
            "node": "读取RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取RSS Feed": {
      "main": [
        [
          {
            "node": "收集RSS条目",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS读取失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "收集RSS条目": {
      "main": [
        [
          {
            "node": "检查URL是否已存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查URL是否已存在": {
      "main": [
        [
          {
            "node": "过滤未入库条目",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤未入库条目": {
      "main": [
        [
          {
            "node": "分批处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分批处理": {
      "main": [
        [
          {
            "node": "更新RSS抓取时间",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "调用核心爬取工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用核心爬取工作流": {
      "main": [
        [
          {
            "node": "等待间隔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待间隔": {
      "main": [
        [
          {
            "node": "分批处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新RSS抓取时间": {
      "main": [
        [
          {
            "node": "执行汇总",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理数据源列表": {
      "main": [
        [
          {
            "node": "分批处理数据源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分批处理数据源": {
      "main": [
        [
          {
            "node": "执行汇总",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "爬取数据源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "爬取数据源": {
      "main": [
        [
          {
            "node": "数据源等待间隔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据源等待间隔": {
      "main": [
        [
          {
            "node": "分批处理数据源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS读取失败": {
      "main": [
        [
          {
            "node": "更新RSS抓取时间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "knowledge-management"
    },
    {
      "name": "scheduled"
    }
  ],
  "triggerCount": 1,
  "versionId": "3"
}
